<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>demoSeverlet</servlet-name>
  	<display-name>demoSeverlet</display-name>
  	<description></description>
  	<servlet-class>servlets.demoSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>demoSeverlet</servlet-name>
  	<url-pattern>/demoSeverlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>Index3.jsp</welcome-file>
	</welcome-file-list>
</web-app>
