<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<display-name>DemoServlet</display-name>
		<description></description>
		<servlet-class>servlet.DemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Demo2Servlet</servlet-name>
		<display-name>Demo2Servlet</display-name>
		<description></description>
		<servlet-class>servlet.Demo2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Demo3Servlet</servlet-name>
		<display-name>Demo3Servlet</display-name>
		<description></description>
		<servlet-class>servlet.Demo3Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>employeeServlet</servlet-name>
		<display-name>employeeServlet</display-name>
		<description></description>
		<servlet-class>servlet.employeeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Demo4Servlet</servlet-name>
		<display-name>Demo4Servlet</display-name>
		<description></description>
		<servlet-class>servlet.Demo4Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<display-name>HomeServlet</display-name>
		<description></description>
		<servlet-class>servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AboutUsServlet</servlet-name>
		<display-name>AboutUsServlet</display-name>
		<description></description>
		<servlet-class>servlet.AboutUsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewServlet</servlet-name>
		<display-name>NewServlet</display-name>
		<description></description>
		<servlet-class>servlet.NewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/DemoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Demo2Servlet</servlet-name>
		<url-pattern>/Demo2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Demo3Servlet</servlet-name>
		<url-pattern>/Demo3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>employeeServlet</servlet-name>
		<url-pattern>/employeeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Demo4Servlet</servlet-name>
		<url-pattern>/Demo4Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AboutUsServlet</servlet-name>
		<url-pattern>/AboutUsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewServlet</servlet-name>
		<url-pattern>/NewServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
